@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-family: Raleway, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #6F5B3E;
    padding: 16px;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrapper .container {
    width: 1024px;
    border-radius: 8px;
    margin: 16px;
    background: #F9F6F0;
    padding: 25px;
    flex-grow: 1;
    height: fit-content;
}

.form {
    height: 500px;
}

.item {
    border-radius: 16px;
    margin-top: 16px;
    padding: 12px 24px 12px 24px;
    background: white;
    display: flex;
    align-items: center;
}

.item>.inner h2 {
    margin-bottom: unset;
}

.item>.inner p {
    margin-top: 5px;
}

.form {
    display: flex;
    padding: 16px;
    flex-direction: column;
    height: 300px;
    border-radius: 16px;
}

.judulForm {
    display: flex;
    flex-direction: column;
}

.judulFormlabel {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: lighter;
}

.shadow {
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
}

input[type=text],
input[type=number] {
    font-family: Raleway, sans-serif;
    background: #f2f2f3;
    border: 2px solid #C4AE78;
    border-radius: 8px;
    padding: 14px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 20px;
}

.btn-submit {
    width: fit-content;
    font-family: Raleway, sans-serif;
    border-radius: 15px;
    padding: 15px 20px;
    border: 2px solid #C4AE78;
    color: black;
    font-size: 20px;
    margin-top: auto;
    align-self: flex-end;
    cursor: pointer;
}

.btn-submit:hover {
    background: #C4AE78;
    color: white;
}

input[type=text],
input[type=number],
.btn-submit:focus {
    outline: none;
}

.text-center {
    text-align: center;
}

.form-title {
    margin: auto 0;
}

.done-button {
    background: url('checked-svgrepo-com.svg');
    background-size: contain;
    width: 35px;
    height: 35px;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.delete-button {
    background: url('trash-svgrepo-com.svg');
    background-size: contain;
    width: 35px;
    height: 35px;
    margin-left: 18px;
    cursor: pointer;
    border: none;
}

.not-done-button {
    background: url('undo-arrow-hand-drawn-symbol-outline-with-a-cross-svgrepo-com.svg');
    background-size: contain;
    width: 35px;
    height: 35px;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.check-button:focus,
.trash-button {
    outline: none;
}

@media only screen and (max-width: 1024px) {
    .wrapper {
        margin: 0;
    }
    .wrapper .container {
        width: 90%;
    }
    .list-item {
        width: 90%;
    }
    .form {
        width: 90%;
    }
}

input [ type="checkbox"] {
    display: none;
    visibility: hidden;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
    background-color: transparent;
    border-color: #44cc66;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider:before {
    -webkit-transform: translateY(1);
    transform: translateY(1);
    opacity: 0.7;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider:after {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
    left: calc(50% - 1px - 3px);
    background-color: #44cc66;
}

.toggler-wrapper .toggler-slider {
    background-color: transparent;
    border: 2px solid #eb4f37;
}

.toggler-wrapper .toggler-slider:before {
    content: 'Sudah';
    font-size: 85%;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}

.toggler-wrapper .toggler-slider:after {
    content: 'Belum';
    font-size: 85%;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0.7;
    transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
    width: calc(25px - 6px);
    height: calc(25px - 6px);
    border-radius: 50%;
    background-color: #eb4f37;
}